
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
.github/chatmodes/ 🎭 planner.chatmode.md
.github/chatmodes/🎭 generator.chatmode.md
.github/chatmodes/🎭 healer.chatmode.md
.vscode/mcp.json
